.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* position: relative; */
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.btn-order{
    width: 421px;
    height: 56px;
    background: #FF9900;
    border-radius: 4px;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}